
{% extends "base.html" %}

{% block title %}Upload a new image{% endblock %}

{% block body %}
    <form method="POST" action="" enctype="multipart/form-data" class="col-sm-4 offset-4 py-5 my-5">
        <h2>Upload an image!</h2>
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="{{ form.image.id_for_label }}" class="form-label">Image</label>
            {{ form.image }}
        </div>

        <div class="mb-3">
            <label for="{{ form.text.id_for_label }}" class="form-label">{{ form.text.label }}</label>
            {{ form.text }}
        </div>     
        
        <div class="mb-3">
            <button type="submit" class="btn btn-lg btn-success">Submit form</button>
        </div>
    </form>
{% endblock %}
```

